.custom_narrow_table{
    .table th, .table td{
        padding: 2px;
    }
}

html .o_web_client > .o_action_manager {
    overflow: auto !important;
}
.custom_table_style{
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #d5d5d5;
        color: black;
      }
   tr:nth-child(even){background-color: #d5d5d5;}
   tr:nth-child(odd){background-color: #ffffff;}

   tr:hover {background-color: #e9e6d5;}
    
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
}